In [1]:
import pandas as pd

In [2]:
# Reading in csv

df = pd.read_csv('Athletes/merged_events_bio.csv')

df.head()

,Athlete_ID,Name,Age,Sex,Height(cm),Weight(kg),Sport,Country_Name,Country_Code,Year,Season,isTeamSport,Medal,Result_ID
0,16809,Károly Teppert,21.0,M,NaN,NaN,Cycling Road,Hungary,HUN,1912,Summer,False,na,153233
1,16809,Károly Teppert,21.0,M,NaN,NaN,Cycling Road,Hungary,HUN,1912,Summer,True,na,153234
2,43737,Andrzej Socharski,29.0,M,173.0,72.0,Shooting,Poland,POL,1976,Summer,False,na,51745
3,50147,Nathalie Wunderlich,21.0,F,170.0,50.0,Swimming,Switzerland,SUI,1992,Summer,False,na,7860
4,50147,Nathalie Wunderlich,21.0,F,170.0,50.0,Swimming,Switzerland,SUI,1992,Summer,False,na,7870

In [3]:
# Renaming values in column due to Country_Name column containing information that would be harder to clean.

df['Country_Code'] = df['Country_Code'].replace({'HUN':'Hungary','POL':'Poland','AFG':'Afghanistan','ALB':'Albania',
                                                 'ALG':'Algeria','AND':'Andorra','ANG':'Angola','ANT':'Antigua and Barbuda',
                                                 'ARG':'Argentina','ARM':'Armenia','ARU':'Aruba','ASA':'American Samoa',
                                                'AUS':'Australia','AUT':'Austria','AZE':'Azerbaijan','BAH':'Bahamas',
                                                'BAN':'Bangladesh','BAR':'Barbados','BDI':'Burundi','BEL':'Belgium',
                                                'BEN':'Benin','BER':'Bermuda','BHU':'Bhutan','BIH':'Bosnia and Herzegovina',
                                                'BIZ':'Belize','BLR':'Belarus','BOL':'Bolivia','BOT':'Botswana',
                                                 'BRA':'Brazil','BRN':'Bahrain','BRU':'Brunei','BUL':'Bulgaria',
                                                 'BUR':'Burkina Faso','CAF':'Central African Republic','CAM':'Cambodia',
                                                 'CAN':'Canada','CAY':'Cayman Islands','CGO':'Republic of the Congo',
                                                'CHA':'Chad','CHI':'Chile','CHN':"People's Republic of China",
                                                 'CIV':"Côte d'Ivoire",'CMR':'Cameroon',
                                                 'COD':'Democratic Republic of the Congo','COK':'Cook Islands',
                                                'COL':'Colombia','COM':'Comoros','CPV':'Cape Verde','CRC':'Costa Rica',
                                                'CRO':'Croatia','CUB':'Cuba','CYP':'Cyprus','CZE':'Czech Republic',
                                                'DEN':'Denmark','DJI':'Djibouti','DMA':'Dominica',
                                                 'DOM':'Dominican Republic','ECU':'Ecuador','EGY':'Egypt','ERI':'Eritrea',
                                                'ESA':'El Salvador','ESP':'Spain','EST':'Estonia','ETH':'Ethiopia',
                                                 'FIJ':'Fiji','FIN':'Finland','FRA':'France',
                                                 'FSM':'Federation States of Micronesia','GAB':'Gabon','GAM':'The Gambia',
                                                'GBR':'Great Britain','GBS':'Guinea Bissau','GEO':'Georgia',
                                                 'GEQ':'Equatorial Guinea','GER':'Germany','GHA':'Ghana','GRE':'Greece',
                                                'GRN':'Grenada','GUA':'Guatemala','GUI':'Guinea','GUM':'Guam',
                                                 'GUY':'Guyana','HAI':'Haiti','HKG':'Hong Kong, China','HON':'Honduras',
                                                'HUN':'Hungary','INA':'Indonesia','IND':'India','IRI':'Iran',
                                                 'IRL':'Ireland','IRQ':'Iraq','ISL':'Iceland','ISR':'Israel',
                                                 'ISV':'Virgin Islands','ITA':'Italy','IVB':'British Virgin Islands',
                                                'JAM':'Jamaica','JOR':'Jordan','JPN':'Japan','KAZ':'Kazakhstan',
                                                 'KEN':'Kenya','KGZ':'Kyrgyzstan','KIR':'Kiribati',
                                                 'KOR':'Republic of Korea','KOS':'Kosovo','KSA':'Kingdom of Saudi Arabia',
                                                 'KUW':'Kuwait','LAO':'Laos','LAT':'Latvia','LBA':'Libya',
                                                 'LBN':'Lebanon','LBR':'Liberia','LCA':'Saint Lucia','LES':'Lesotho',
                                                'LIE':'Liechtenstein','LTU':'Lithuania','LUX':'Luxembourg',
                                                'MAD':'Madagascar','MAR':'Morocco','MAS':'Malaysia','MAW':'Malawi',
                                                'MDA':'Moldova','MDV':'Maldives','MEX':'Mexico','MGL':'Mongolia',
                                                'MHL':'Marshall Islands','MKD':'North Macedonia','MLI':'Mali',
                                                 'MLT':'Malta','MNE':'Montenegro','MON':'Monaco','MOZ':'Mozambique',
                                                'MRI':'Mauritius','MTN':'Mauritania','MYA':'Myanmar','NAM':'Namibia',
                                                'NCA':'Nicaragua','NED':'Netherlands','NEP':'Nepal','NGR':'Nigeria',
                                                'NIG':'Niger','NOR':'Norway','NRU':'Nauru','NZL':'New Zealand',
                                                'OMA':'Oman','PAK':'Pakistan','PAN':'Panama','PAR':'Paraguay',
                                                'PER':'Peru','PHI':'Philippines','PLE':'Palestine','PLW':'Palau',
                                                'PNG':'Papa New Guinea','POL':'Poland','POR':'Portugal',
                                                 'PRK':"Democratic People's Republic of Korea",'PUR':'Puerto Rico',
                                                'QAT':'Qatar','ROU':'Romania','RSA':'South Africa',
                                                 'RUS':'Russian Federation','RWA':'Rwanda','SAM':'Samoa','SEN':'Senegal',
                                                'SEY':'Seychelles','SGP':'Singapore','SKN':'Saint Kitts and Nevis',
                                                'SLE':'Sierra Leone','SLO':'Slovenia','SMR':'San Marino',
                                                 'SOL':'Solomon Islands','SOM':'Somalia','SRB':'Serbia','SRI':'Sri Lanka',
                                                'SSD':'South Sudan','STP':"São Tomé and Príncipe",'SUD':'Sudan',
                                                'SUI':'Switzerland','SUR':'Suriname','SVK':'Slovakia','SWE':'Sweden',
                                                'SWZ':'Eswatini','SYR':'Syria','TAN':'Tanzania','TGA':'Tonga',
                                                 'THA':'Thailand','TJK':'Tajikistan','TKM':'Turkmenistan',
                                                 'TLS':'East Timor','TOG':'Togo','TPE':'Chinese Taipei',
                                                 'TTO':'Trinidad and Tobago','TUN':'Tunisia','TUR':'Turkey','TUV':'Tuvalu',
                                                'UAE':'United Arab Emirates','UGA':'Uganda','UKR':'Ukraine',
                                                 'URU':'Uruguay','USA':'United States','UZB':'Uzbekistan','VAN':'Vanuatu',
                                                'VEN':'Venezuela','VIE':'Vietnam','VIN':'Saint Vincent and the Grenadines',
                                                'YEM':'Yemen','ZAM':'Zambia','ZIM':'Zimbabwe','AHO':'Netherlands Antilles',
                                                'ANZ':'Australasia','BOH':'Bohemia','EUN':'United Team',
                                                 'FRG':'West Germany','GDR':'East Germany','SCG':'Serbia and Montenegro',
                                                'TCH':'Czechoslovakia','URS':'Soviet Union','VNM':'South Vietnam',
                                                'YUG':'Yugoslavia','MAL':'Malaysia','NBO':'North Borneo',
                                                'RHO':'Rhodesia','SAA':'Saar',
                                                'UAR':'United Arab Republic','YAR':'North Yemen','YMD':'South Yemen',
                                                'COR':'Korea Team','EOR':'Refugee Olympic Team','EUN':'Unified Team',
                                                'IOA':'Individual Olympic Athletes','CRT':'Crete',
                                                 'WIF':'West Indies Federation','UNK':'Unknown', 
                                                 'IFR': 'International Federation Representative'})

In [4]:
# Dropping, renaming columns
df = df.drop('Country_Name',axis = 1).rename(columns={'Country_Code':'Country_Name'})

df

,Athlete_ID,Name,Age,Sex,Height(cm),Weight(kg),Sport,Country_Name,Year,Season,isTeamSport,Medal,Result_ID
0,16809,Károly Teppert,21.0,M,NaN,NaN,Cycling Road,Hungary,1912,Summer,False,na,153233
1,16809,Károly Teppert,21.0,M,NaN,NaN,Cycling Road,Hungary,1912,Summer,True,na,153234
2,43737,Andrzej Socharski,29.0,M,173.0,72.0,Shooting,Poland,1976,Summer,False,na,51745
3,50147,Nathalie Wunderlich,21.0,F,170.0,50.0,Swimming,Switzerland,1992,Summer,False,na,7860
4,50147,Nathalie Wunderlich,21.0,F,170.0,50.0,Swimming,Switzerland,1992,Summer,False,na,7870
...,...,...,...,...,...,...,...,...,...,...,...,...,...
314902,21666,Raúl Maroto,27.0,M,190.0,76.0,Fencing,Spain,1992,Summer,True,na,113130
314903,21666,Raúl Maroto,31.0,M,190.0,76.0,Fencing,Spain,1996,Summer,True,na,115004
314904,72486,Shizo Kanakuri,21.0,M,170.0,64.0,Athletics,Japan,1912,Summer,False,na,56648
314905,72486,Shizo Kanakuri,29.0,M,170.0,64.0,Athletics,Japan,1920,Summer,False,na,57135
314906,72486,Shizo Kanakuri,33.0,M,170.0,64.0,Athletics,Japan,1924,Summer,False,na,57408

In [12]:
# Checking unique values to see if anything was missed.
df['Country_Name'].unique()

array(['Hungary', 'Poland', 'Switzerland', 'Yugoslavia', 'United States',
       'Japan', 'Egypt', 'Uganda', 'Niger', 'Austria', 'Belgium',
       'Denmark', 'Ghana', 'Republic of Korea', 'Bohemia',
       'Great Britain', 'Kiribati', 'Soviet Union', 'Russian Federation',
       'South Africa', 'Germany', 'Austrailia', 'Croatia', 'Lebanon',
       'France', 'Brazil', 'Uruguay', 'Romania', 'West Germany',
       'Belarus', 'Finland', 'Luxembourg', 'Sweden', 'Italy', 'Slovakia',
       'Slovenia', "People's Republic of China", 'New Zealand', 'Estonia',
       'Liechtenstein', 'Spain', 'Kenya', 'Iceland', 'Iran', 'Cuba',
       'India', 'Norway', 'Bulgaria', 'Argentina', 'Netherlands',
       'East Germany', 'Canada', 'Greece', 'Mexico', 'Senegal', 'Ukraine',
       'Czechoslovakia', 'Afghanistan', 'Israel', 'Thailand',
       'Madagascar', 'Colombia', 'Uzbekistan', 'Tunisia',
       'Chinese Taipei', 'Andorra', 'Peru', 'Turkey', 'Zambia',
       'Indonesia', 'Chile', 'Ireland', 'Trinidad and Tobago',
       'Czech Republic', 'Philippines', 'Sudan', 'ROC', 'Korea Team',
       'Georgia', 'Latvia', 'Algeria', 'Kuwait', 'United Arab Republic',
       'Ecuador', 'Bosnia and Herzegovina', 'Nigeria', 'Kosovo', 'Guinea',
       'Puerto Rico', 'Moldova', 'Azerbaijan', 'Hong Kong, China',
       'Pakistan', 'Portugal', 'Paraguay', 'Mauritius', 'Serbia',
       "Democratic People's Republic of Korea", 'Guatemala',
       'Australasia', 'Bermuda', 'Palestine', 'San Marino', 'Morocco',
       'Seychelles', "Côte d'Ivoire", 'Botswana', 'Angola', 'Guam',
       'Belize', 'Bolivia', 'Tanzania', 'Malaysia', 'American Samoa',
       'Jamaica', 'Maldives', 'Costa Rica', 'Kingdom of Saudi Arabia',
       'Zimbabwe', 'Togo', 'Dominican Republic', 'Nepal', 'Venezuela',
       'Kazakhstan', 'Honduras', 'Singapore', 'Nicaragua', 'Monaco',
       'Mongolia', 'Turkmenistan', 'Gabon', 'The Gambia', 'Cameroon',
       'Lithuania', 'Bahamas', 'Bahrain', 'Kyrgyzstan', 'Cambodia',
       'Burkina Faso', 'Iraq', 'Samoa', 'Netherlands Antilles',
       'Barbados', 'Cook Islands', 'Myanmar', 'Virgin Islands', 'Mali',
       'Antigua and Barbuda', 'Fiji', 'Serbia and Montenegro', 'Qatar',
       'Syria', 'Oman', 'Ethiopia', 'North Macedonia', 'El Salvador',
       'Sierra Leone', 'Saar', 'Somalia', 'Liberia', 'Sri Lanka',
       'Mauritania', 'Tajikistan', 'Equatorial Guinea',
       'United Arab Emirates', 'Malta', 'Unified Team', 'Armenia',
       'Malawi', 'Republic of the Congo', 'Rhodesia', 'Cayman Islands',
       'Lesotho', 'Unknown', 'Vietnam', 'Burundi', 'Aruba', 'Bhutan',
       'Montenegro', 'Saint Vincent and the Grenadines',
       'Individual Olympic Athletes', 'Jordan', 'Suriname',
       'Papa New Guinea', 'Laos', 'Tuvalu', 'Nauru', 'Mozambique',
       'Eswatini', 'East Timor', 'Chad', 'Guyana', 'Albania',
       'Democratic Republic of the Congo', 'Comoros',
       'Saint Kitts and Nevis', 'Vanuatu', 'Grenada', 'Benin', 'Dominica',
       'Haiti', 'Rwanda', 'Bangladesh', 'North Yemen', 'Cape Verde',
       'Tonga', 'Cyprus', 'South Vietnam', 'Panama', 'Solomon Islands',
       'Federation States of Micronesia', 'Eritrea', 'Djibouti', 'Yemen',
       'South Yemen', 'North Borneo', 'Saint Lucia',
       'Central African Republic', 'Refugee Olympic Team',
       'British Virgin Islands', 'Namibia', 'Libya', 'Marshall Islands',
       'West Indies Federation', 'Brunei', 'Guinea Bissau', 'South Sudan',
       'Crete', 'São Tomé and Príncipe', 'Palau',
       'International Federation Representative'], dtype=object)

In [5]:
# Converting DataFrame to csv
df.to_csv('new_bio.csv')